/*カートリスト*/
.cartlists-product-name {
    font-size    : map-get($text_font_size, md2);
    border       : solid 2px black;
    max-width    : 574px; //box1つに使う横幅。19%だと、余裕があっても常に５つ横に並べる。160pxでサムネイルと合わせる
    height       : 95px;
    margin-bottom: 5px;
    border-left  : solid 10px #6795fd;
}

.cartlists-product-code {
    font-size    : map-get($text_font_size, md1);
    border       : solid 2px black;
    min-width    : 270px; //box1つに使う横幅。19%だと、余裕があっても常に５つ横に並べる。160pxでサムネイルと合わせる
    margin-bottom: 5px;
    border-left  : solid 10px #6795fd;
}

.cartlists-product-price {
    display      : inline-block; //要素を横に並べる＆ブロックにする＆隙間有り
    font-size    : map-get($text_font_size, md1);
    border       : solid 2px black;
    min-width    : 270px; //box1つに使う横幅。19%だと、余裕があっても常に５つ横に並べる。160pxでサムネイルと合わせる
    margin-bottom: 5px;
    margin-right : 10px;
    border-left  : solid 10px #6795fd;
}

.cartlists-product-stock_quantity_status {
    display    : inline-block; //要素を横に並べる＆ブロックにする＆隙間有り
    font-size  : map-get($text_font_size, md1);
    border     : solid 2px black;
    min-width  : 270px; //box1つに使う横幅。19%だと、余裕があっても常に５つ横に並べる。160pxでサムネイルと合わせる
    border-left: solid 10px #6795fd;
}

/*カート一覧、購入手続き画面のコンテンツボックス*/
.content-left-box {
    position   : absolute;
    margin-top : 3em;
    margin-left: 1em;
}

/*カート一覧画面の枠調整*/
.cart-lists-box {
    margin-top: 10px;
    border    : groove 6px #5e7fca;
    padding   : 5px;
    max-width : 950px;
}

/*カート一覧画面のボタン*/
.cartlists-button {
    //ボタンの書式
    display         : inline-block; //要素を横に並べる＆ブロックにする＆隙間有り
    padding         : 0.5em 1em; // ボタンの内側余白：上下、左右
    text-decoration : none; // テキストの装飾：なし
    font-weight     : bold; // フォントの太さ：boldは700と同じ（100〜900の9種類：標準は400）
    width           : 150px; // ボタンの横幅位
    height          : 50px; // ボタンの高さ
    line-height     : 45px; // ボタンの上辺からの位置：0で上辺と文字が重なる
    text-align      : center; // テキストの中央寄せ
    border-radius   : 4px; // 角の丸み
    color           : rgba(255, 255, 255, 0.90); // 文字色
    font-size       : map-get($text_font_size, lg1); // 文字サイズ
    text-shadow     : 1px 1px 1px rgba(255, 255, 255, 0.5); // テキストの影をつける：水平方向、垂直方向、影のぼかし、rgbaで色指定(白の0.5)
    background-image: linear-gradient(#6795fd 0%, #67ceff 100%); // ボタンの背景色：線形グラデーション
    box-shadow      : 0px 2px 2px rgba(0, 0, 0, 0.29); // ボックスに影をつける：水平方向、垂直方向、影のぼかし、rgbaで色指定(黒の0.29)
    border-bottom   : solid 3px #5e7fca; // ボタン下辺の線の設定
    margin-top      : 10px; //メニューバーの上のマージン
}

.cartlists-button2 {
    //ボタンの書式
    display    : block; //要素を横に並べる＆ブロックにする＆隙間有り
    height     : 30px; // ボタンの高さ
    line-height: 35px; // ボタンの上辺からの位置：0で上辺と文字が重なる
}

.delivery-button {
    padding         : 0.5em 1em; // ボタンの内側余白：上下、左右
    text-decoration : none; // テキストの装飾：なし
    font-weight     : bold; // フォントの太さ：boldは700と同じ（100〜900の9種類：標準は400）
    width           : 250px; // ボタンの横幅位
    height          : 50px; // ボタンの高さ
    line-height     : 25px; // ボタンの上辺からの位置：0で上辺と文字が重なる
    text-align      : center; // テキストの中央寄せ
    border-radius   : 4px; // 角の丸み
    color           : rgba(255, 255, 255, 0.90); // 文字色
    font-size       : map-get($text_font_size, lg1); // 文字サイズ
    text-shadow     : 1px 1px 1px rgba(255, 255, 255, 0.5); // テキストの影をつける：水平方向、垂直方向、影のぼかし、rgbaで色指定(白の0.5)
    background-image: linear-gradient(#6795fd 0%, #67ceff 100%); // ボタンの背景色：線形グラデーション
    box-shadow      : 0px 2px 2px rgba(0, 0, 0, 0.29); // ボックスに影をつける：水平方向、垂直方向、影のぼかし、rgbaで色指定(黒の0.29)
    border-bottom   : solid 3px #5e7fca; // ボタン下辺の線の設定
    margin-top      : 10px; //メニューバーの上のマージン
}