/*商品の詳細画面の書式*/
.show-product-tag {
    font-size    : map-get($text_font_size, md2);
    border       : solid 2px black; //width:1057px;      //box1つに使う横幅。19%だと、余裕があっても常に５つ横に並べる。160pxでサムネイルと合わせる
    //min-width:20%;
    max-width    : 1057px;
    margin-top   : 0.5em;
    margin-bottom: 0.5em;
    border-left  : solid 10px #6795fd;
}

.show-product-tag ul {
    // リストの間隔を調整
    display    : inline; // リストを横に並べる
    margin-left: -3%; // 【商品タグ】とタグ名称の隙間を縮める
}

.show-product-tag ul li {
    // リストの間隔を調整
    display     : inline; // リストを横に並べる
    margin-right: 5px;
}

.show-product-image {
    max-width   : 480px;
    height      : auto; // 高さは自動指定
    margin-right: 10px;
}

.product-info {
    display       : inline-block; //要素を横に並べる＆ブロックにする＆隙間有り
    vertical-align: top; //商品画像の右の情報を、上寄せにする
}

.show-product-name {
    font-size    : map-get($text_font_size, lg2);
    border       : solid 2px black;
    max-width    : 574px; //box1つに使う横幅。19%だと、余裕があっても常に５つ横に並べる。160pxでサムネイルと合わせる
    height       : 100px;
    margin-bottom: 0.2em;
    border-left  : solid 10px #6795fd;
}

.show-product-description {
    font-size    : map-get($text_font_size, lg2);
    border       : solid 2px black;
    max-width    : 574px; //box1つに使う横幅。19%だと、余裕があっても常に５つ横に並べる。160pxでサムネイルと合わせる
    height       : 300px;
    margin-bottom: 0.2em;
    border-left  : solid 10px #6795fd
}

.show-product-code {
    font-size    : map-get($text_font_size, lg1);
    border       : solid 2px black;
    min-width    : 270px; //box1つに使う横幅。19%だと、余裕があっても常に５つ横に並べる。160pxでサムネイルと合わせる
    margin-bottom: 0.3em;
    border-left  : solid 10px #6795fd;
}

.show-product-price {
    display      : inline-block; //要素を横に並べる＆ブロックにする＆隙間有り
    font-size    : map-get($text_font_size, lg1);
    border       : solid 2px black;
    min-width    : 270px; //box1つに使う横幅。19%だと、余裕があっても常に５つ横に並べる。160pxでサムネイルと合わせる
    margin-bottom: 0.2em;
    margin-right : 10px;
    border-left  : solid 10px #6795fd;
}

.show-product-stock_quantity_status {
    display    : inline-block; //要素を横に並べる＆ブロックにする＆隙間有り
    font-size  : map-get($text_font_size, lg1);
    border     : solid 2px black;
    min-width  : 270px; //box1つに使う横幅。19%だと、余裕があっても常に５つ横に並べる。160pxでサムネイルと合わせる
    border-left: solid 10px #6795fd;
}

.show-product-botton {
    //ボタンの書式
    display         : inline-block; //要素を横に並べる＆ブロックにする＆隙間有り
    padding         : 0.5em 1em; // ボタンの内側余白：上下、左右
    text-decoration : none; // テキストの装飾：なし
    font-weight     : bold; // フォントの太さ：boldは700と同じ（100〜900の9種類：標準は400）
    width           : 150px; // ボタンの横幅位
    height          : 50px; // ボタンの高さ
    line-height     : 27px; // ボタンの上辺からの位置：0で上辺と文字が重なる
    text-align      : center; // テキストの中央寄せ
    border-radius   : 4px; // 角の丸み
    color           : rgba(255, 255, 255, 0.90); // 文字色
    font-size       : map-get($text_font_size, lg1); // 文字サイズ
    text-shadow     : 1px 1px 1px rgba(255, 255, 255, 0.5); // テキストの影をつける：水平方向、垂直方向、影のぼかし、rgbaで色指定(白の0.5)
    background-image: linear-gradient(#6795fd 0%, #67ceff 100%); // ボタンの背景色：線形グラデーション
    box-shadow      : 0px 2px 2px rgba(0, 0, 0, 0.29); // ボックスに影をつける：水平方向、垂直方向、影のぼかし、rgbaで色指定(黒の0.29)
    border-bottom   : solid 3px #5e7fca; // ボタン下辺の線の設定
    margin-top      : 10px; //メニューバーの上のマージン
}

.show-product-botton-add {
    //カートへ追加ボタンの書式
    line-height: 45px; // ボタンの上辺からの位置：0で上辺と文字が重なる
}

.show-product-cartlist {
    display      : inline-block; //要素を横に並べる＆ブロックにする＆隙間有り
    font-size    : map-get($text_font_size, md3);
    border       : solid 2px black;
    width        : 574px; //box1つに使う横幅。19%だと、余裕があっても常に５つ横に並べる。160pxでサムネイルと合わせる
    height       : 100px;
    margin-bottom: 5px;
    border-left  : solid 10px #6795fd;
}