//つかってない、、、どうする？
.u-heading-font-size{
    font-size    : 1rem;
}

.u-heading-font-size--lg {
    font-size    : map-get($text_font_size, head-lg);
}

.u-heading-font-size--md {
    font-size    : map-get($text_font_size, head-md);
}

.u-heading-font-size--sm {
    font-size    : map-get($text_font_size, head-sm);
}