/*サイドバー*/
.l-member-sidebar {
    position   : fixed; //表示位置を固定
    width      : 10em;
    height     : 100%;
    margin-top : 2em;
    padding    : 0.2em 0em 0em 0.5em;
    flex-shrink: 0;

    .l-member-sidebar__lists {
        padding-left: 0; //リストの文字を左寄せ
    }

    .l-member-sidebar__line {
        list-style: none; //リストのマーカーの種類：なし
    }
}