.l-product-details {
    display       : inline-block; //要素を横に並べる＆ブロックにする＆隙間有り
    margin-left: 10px;
    vertical-align: top; //商品画像の右の情報を、上寄せにする
}

.l-product-details__name {
    margin-bottom: 0.2em;
    max-width    : 574px; //box1つに使う横幅。19%だと、余裕があっても常に５つ横に並べる。160pxでサムネイルと合わせる
    height       : 100px;
    border       : solid 2px black;
    border-left  : solid 10px #6795fd;
    font-size    : map-get($text_font_size, lg2);
}

.l-product-details__description {
    margin-bottom: 0.2em;
    max-width    : 574px; //box1つに使う横幅。19%だと、余裕があっても常に５つ横に並べる。160pxでサムネイルと合わせる
    height       : 300px;
    border       : solid 2px black;
    border-left  : solid 10px #6795fd;
    font-size    : map-get($text_font_size, lg2);
}

.l-product-details__code {
    margin-bottom: 0.3em;
    min-width    : 270px; //box1つに使う横幅。19%だと、余裕があっても常に５つ横に並べる。160pxでサムネイルと合わせる
    border       : solid 2px black;
    border-left  : solid 10px #6795fd;
    font-size    : map-get($text_font_size, lg1);
}

.l-product-details__price {
    display      : inline-block; //要素を横に並べる＆ブロックにする＆隙間有り
    margin-bottom: 0.2em;
    margin-right : 10px;
    min-width    : 270px; //box1つに使う横幅。19%だと、余裕があっても常に５つ横に並べる。160pxでサムネイルと合わせる
    border       : solid 2px black;
    border-left  : solid 10px #6795fd;
    font-size    : map-get($text_font_size, lg1);
}

.l-product-details__stock_quantity_status {
    display    : inline-block; //要素を横に並べる＆ブロックにする＆隙間有り
    min-width  : 270px; //box1つに使う横幅。19%だと、余裕があっても常に５つ横に並べる。160pxでサムネイルと合わせる
    border     : solid 2px black;
    border-left: solid 10px #6795fd;
    font-size  : map-get($text_font_size, lg1);
}