/* ヘッダー部の要素 */
.l-header-box {
    //表示位置
    position     : fixed;
    z-index      : 9999; //boxが重なった場合、常に上に表示させるよう優先度を9999にしている
    margin-bottom: 2em;
    padding      : 0em 0em 0.5em 0.5em;
    //形
    background   : #97b2f0;
    width        : 100%;
}

.l-header-line {
    display: inline; //リストを横に並べる
    font-size: map-get($text_font_size, md2) li {
        margin-right: 5px; //リストの間隔を調整
    }
}

.l-header-title-font {
    font-size: map-get($text_font_size, lg1);
}