/* センターボックス */
.l-center-box {
    position   : relative; //表示位置を相対位置にする
    margin-top : 3em;
    margin-left: 10em;
}

//会員登録画面でヘッダー部分に重ならないようにしている。どこにいれようか、、、？
.l-mbr-register-box {
    padding-top: 3.5em;
}