/*カートリスト*/
//カート一覧画面の枠調整
.cart-lists-box {
    margin-top: 10px;
    padding   : 5px;
    max-width : 970px;
    border    : groove 6px #5e7fca;
}

.cartlists-product-name {
    margin-bottom: 5px;
    max-width    : 574px; //box1つに使う横幅。19%だと、余裕があっても常に５つ横に並べる。160pxでサムネイルと合わせる
    height       : 95px;
    border       : solid 2px black;
    border-left  : solid 10px #6795fd;
    font-size    : map-get($text_font_size, md2);
}

.cartlists-product-code {
    margin-bottom: 5px;
    min-width    : 270px; //box1つに使う横幅。19%だと、余裕があっても常に５つ横に並べる。160pxでサムネイルと合わせる
    border       : solid 2px black;
    border-left  : solid 10px #6795fd;
    font-size    : map-get($text_font_size, md1);
}

.cartlists-product-price {
    display      : inline-block; //要素を横に並べる＆ブロックにする＆隙間有り
    margin-right : 10px;
    margin-bottom: 5px;
    min-width    : 270px; //box1つに使う横幅。19%だと、余裕があっても常に５つ横に並べる。160pxでサムネイルと合わせる
    border       : solid 2px black;
    border-left  : solid 10px #6795fd;
    font-size    : map-get($text_font_size, md1);
}

.cartlists-product-stock_quantity_status {
    display    : inline-block; //要素を横に並べる＆ブロックにする＆隙間有り
    min-width  : 270px; //box1つに使う横幅。19%だと、余裕があっても常に５つ横に並べる。160pxでサムネイルと合わせる
    border     : solid 2px black;
    border-left: solid 10px #6795fd;
    font-size  : map-get($text_font_size, md1);
}

/*カート一覧、購入手続き画面のコンテンツボックス*/
.content-left-box {
    position   : absolute;
    margin-top : 3em;
    margin-left: 1em;
}