/*配達先情報の入力ボックス*/
.c-delivery-destination {
    padding  : 0rem 0.5rem 0.5rem 0.5rem;
    //border   : groove 0.4rem #5e7fca;
    @include f-frame-border-type2;
}

.c-delivery-destination__heading {
    font-size  : map-get($text_font_size, md2);
    font-weight: bold;
}

/*入力フィールドの書式*/
.c-delivery-destination__receiver_name,
.c-delivery-destination__last_name,
.c-delivery-destination__first_name,
.c-delivery-destination__last_name_kana,
.c-delivery-destination__first_name_kana {
    width: 30rem;//500px;
}

.c-delivery-destination__postal_code1,
.c-delivery-destination__postal_code2 {
    width: 2.5rem;
}

.c-delivery-destination__address1 {
    width: 5rem;
}

.c-delivery-destination__address2,
.c-delivery-destination__address3,
.c-delivery-destination__address4,
.c-delivery-destination__address5,
.c-delivery-destination__address6 {
    width: 30rem;
}

.c-delivery-destination__phone_number1,
.c-delivery-destination__phone_number2,
.c-delivery-destination__phone_number3,
.c-delivery-destination__card_security_code,
.c-delivery-destination__birthday_year,
.c-delivery-destination__birthday_month,
.c-delivery-destination__birthday_day {
    width: 3rem;
}

.c-delivery-destination__card_number {
    width: 10rem;
}