/* 会員向けの説明用の枠の書式*/
.c-message-type1 {
    //表示位置
    margin-top   : 10px;
    margin-bottom: 10px;
    padding      : 10px;
    //形
    max-width    : 1040px;
    border       : 5px solid #FFCC33;
    background   : #ffffcc;
    //テキストの書式
    font-size    : 2em;
}

/*バリデーションエラーで表示される文言のフォント*/
.c-help-block {
    color: red;
}

/* カテゴリーの見出しの書式 */
.c-category-message {
    //表示位置
    //position: relative; //ボックスの配置方法：相対位置
    margin-top   : 0.2em;
    margin-bottom: 0.2em;
    padding      : 0.1em 0.5em; //内側の余白
    //形
    background   : -webkit-linear-gradient(to right, rgb(255, 186, 115), transparent); //背景色　webkit:古いブラウザー用
    background   : linear-gradient(to right, rgb(255, 186, 115), transparent); //背景色　グラデーション
    //テキストの書式
    color        : #545454; //文字色
    font-size    : $font_size_midasi_2;
    font-style   : italic;
    font-weight  : bold;
}